body {background-color: darkgray;
}

h1 {
    color: red;
    margin-bottom: 0;
    /* background-image: url('reserved');   */
    background-position: right;
    background-repeat: no-repeat;
    font-family: Tahoma, Georgia, 'times new roman', Serif;
    padding: 10px;
    font-size 20px;
    
  }

  p{
    color:blue ;
  }

#campus {color: black;}
#classification {color:red;}